<div class="sl_desc_box sl_light_box sl_simpl_style_5 wmt_ta_l sl_simpl_style_15">
    <h2 class="sl_desk_title sl_c_title">
        VASKE TEKNOLOGIER
    </h2>
    <table>
        {% for washing_type in washing_types %}
            <tr>
                <td class="sl_simpl_style_14 {% if loop.first %} sl_title_pad2 {% endif %} {% if loop.last %} sl_simpl_style_17 {% endif %}">
                    <input class="sl_check" type="checkbox" name="send_news" id="washing_type_{{ washing_type.id }}">
                    <label class="sl_check_label sl_simpl_style_16" for="washing_type_{{ washing_type.id }}">
                    <span></span>
                    </label>
                </td>
                <td class="sl_simpl_style_14 {% if loop.first %} sl_title_pad2 {% endif %} {% if loop.last %} sl_simpl_style_17 {% endif %}">
                    <span class="js_button_click" data-href="#description_washing_type_{{ washing_type.id }}">{{ washing_type.title }}</span>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a class="sl_btn sl_simpl_style_12 sl_simpl_style_18 check_form  js_search_stations" href="#find_washer">
        <p class="sl_btn_light"></p>
        <p class="sl_btn_text">
            START SØGNING
        </p>
    </a>
</div>