{% if station.special_offers|length > 1 %}
        <a href="#">
            <div class="sl_prev_button prev_offer" style="display: none">
                <img src="css/img/empty.png" alt=""/>
            </div>

        <a href="#">
            <div class="sl_next_button next_offer">
                <img src="css/img/empty.png" alt=""/>
            </div>
        </a>
        <div class="js_gallery">
            {% for special_offer in station.special_offers %}
                <div class="sl_body">
                            <div class="sl_cola_box" {% if special_offer.product_photo %}style="background: url('{{ special_offer.product_photo }}') no-repeat" {% endif %}>
                                <div class="sl_cola_title">
                                    DIT SPECIAL TILBUD!
                                </div>
                                <div class="sl_top_price">
                                    <table class="sl_table_sel sl_ss_37">
                                        <tr>
                                            <td class="wmt_ta_r" >
                                                {% if "." in  special_offer.price_discount %}{% filter replace "\." "," "g"  %}{{ special_offer.price_discount }}{% endfilter %} {% else %} {{ special_offer.price_discount }},-{% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                </div>
            {% endfor %}
        </div>
{% else %}
       {% for special_offer in station.special_offers %}
                <div class="sl_body">
                            <div class="sl_cola_box" {% if special_offer.product_photo %}style="background: url('{{ special_offer.product_photo }}') no-repeat" {% endif %}>
                                <div class="sl_cola_title">
                                    DIT SPECIAL TILBUD!
                                </div>
                                <div class="sl_top_price">
                                    <table class="sl_table_sel sl_ss_37">
                                        <tr>
                                            <td class="wmt_ta_r" >
                                                {% if "." in  special_offer.price_discount %}{% filter replace "\." "," "g"  %}{{ special_offer.price_discount }}{% endfilter %} {% else %} {{ special_offer.price_discount }},-{% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                </div>
            {% endfor %}
{% endif%}




