<div class="sl_ss_42">VASK INFO</div>
<input class="sl_cred_numer sl_ss_43" type="text" name="first_name" placeholder="FORNAVN:" value="first_name">
<input class="sl_cred_numer sl_ss_43" type="text" name="last_name" placeholder="EFTERNAVN:" value="first_name">
<input class="sl_cred_numer sl_ss_43" type="text" name="address" placeholder="ADRESSE:" value="first_name">
<input class="sl_cred_numer sl_ss_43" type="text" name="by_post" placeholder="BY/POSTNUMMER:" value="first_name">
<input readonly="readonly" class="sl_cred_numer sl_ss_43" type="text" name="email" placeholder="EMAIL:" value="first_name">
<input class="sl_cred_numer sl_ss_43" type="password" pattern="\d*" name="code" placeholder="KODE:" maxlength="4" value="first_name">
<input class="sl_cred_numer sl_ss_43 lastInForm" type="tel" name="phone" placeholder="TELEFONNUMMER:" value="first_name">
<div class="sl_cred_numer sl_select_style">
    <select name="car_type">
        <option value="0">SMALL</option>
        <option value="1">MEDIUM</option>
        <option value="2">LARGE</option>
    </select>
</div>
<input class="sl_check lastInForm" type="checkbox" name="receive_email" id="c2" value="1">
<label class="sl_check_label" for="c2">
    <span></span>
    MODTAG NYHEDSBREV
</label>